body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0%;
}
/* navigation bar */
.navbar{
  height: 69px;
  width: 100%;
  top: 0;
  display: block;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

.logo{
  height: 50px;
  float: left;
  padding: 10px 10px;
}

.nav-option{
  display: flex;
  float: right;
  height: 100%;
  margin: 0 auto;
}

.nav-option a {
  height: 100%;
  display: table;
  float: left;
  padding: 0 10px;
}

ul{
  list-style-type: none;
}

.nav-option li a{
  display: table;
  padding: 20px;
  vertical-align: middle;
  height: 100%;
  text-decoration: underline;
  color: white;
}

/* our mission part */
.mission-container{
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  max-width: 1200px;
  margin: 40px auto 40px auto;
  display: flex;
}

.text-over-img{
  margin: auto;
  background-color: black;
  width: 100%;
}

/* tea of month part */
.tea-type{
  display: inline-flex;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tea img{
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}

/* locations part */
#tea-banner{
  height: 500px;
  max-width: 1200px;
  margin: 40px auto auto auto;
  padding-top: 60px;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-top{
  font-size: 40px;
  font-weight: bold;
}

.location-box{
  max-width: 1050px;
  margin: 15px auto auto auto;
  display: flex;
  justify-content: space-between;

}

.box{
  height: 300px;
  padding: 20px;
  margin-bottom: auto;
  flex-basis: 30%;
  box-sizing: border-box;
  background-color: black;
  opacity: 0.8;
}

/* don't need to decorate contact part in css */

/* footer part */
.footer{
  display: block;
  float: left;
  padding-left: 20px;
}